* {
  border-radius: 10px;
  margin: 15px auto;
}

body .container {
  background-color: orange;
  height: 900px;
}

/* trying to get divs to center  */
.row, div {
  align-items: center;
}

img, h2 {
  /*max-height: 310px;*/
  max-width: 300px;
  height: 300px;
  width: auto;
  margin: 10px auto;
  position: relative;
}

h2 {
  border-radius: 2px solid darkBlue;
  color: gray;
}

.jumbotron {
  color: white;
  background-color: darkBlue;
  text-align: center;
  padding: 10px;
  margin: 3px auto;
}

.col-md-4 {
  background-color: skyblue;
  /*max-height: 45%;*/
  width: 30%;
  /*height: auto;*/
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  /*float: left;*/
  /*clear: both;*/
}

.col-sm-12 {
  background-color: skyblue;
  /*max-height: 45%;*/
  width: 90%;
  /*height: auto;*/
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  /*float: left;*/
  /*clear: both;*/
}

p {
  background-color: darkBlue;
  text-align: center;
  color: white;
}
