* {
  border-radius: 10px;
}

body .container {
  background-color: orange;
  height: 900px;
}

/* trying to get divs to center  */
.row, div {
  align-items: center;
}

img, h2 {
  height: 60%;
  width: 90%;
  margin: 10px auto;
  position: relative;
}

.jumbotron {
  color: skyblue;
  background-color: darkBlue;
  text-align: center;
  padding: 10px;
  margin: 3px auto;
}

.col-md-4 {
  display: inline;
  background-color: skyblue;
  height: 40%;
  width: 300px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  /*float: left;*/
  /*clear: both;*/
}

p {
  background-color: darkBlue;
  text-align: center;
  color: white;
}
