* {
  border-radius: 10px;
  margin: 15px auto;
}

body .container {
  background-color: orange;
  height: 90%;
}

/* trying to get divs to center  */
.row, div {
  align-items: center;
}

img, h2 {
  max-height: 310px;
  max-width: 300px;
  height: 300px;
  width: auto;
  margin: 10px auto;
  position: relative;
}

h2 {
  border: 5px solid darkBlue;
  color: gray;
  /*margin-top: 10%;
  margin-bottom: 10%;*/
  display: flex;
  align-content: center;
  padding: 15px;
  max-height: 310px;
}

img:hover {
  opacity: 0.8;
}

.jumbotron {
  color: white;
  background-color: darkBlue;
  text-align: center;
  padding: 10px;
  margin: 3px auto;
}

.col-md-3 {
  background-color: skyblue;
  /*max-height: 40%;*/
  width: 30%;
  height: 450px;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;*/
}

.col-sm-6 {
  background-color: skyblue;
  /*max-height: 45%;*/
  width: 90%;
  /*height: auto;*/
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  /*float: left;*/
  /*clear: both;*/
}

p {
  background-color: darkBlue;
  text-align: center;
  color: white;
}
